/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1053D4; /* Semi-transparent background for better visibility */
  color: #ffffff;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.logo img{
  width: 65px;
}
.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  color: #BBBDC3;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}
.contact{
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #CAEE5A;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
  color: #ffffff;
}

/* Active Menu Styles */
.menu-item.active {
  color: #ffffff;
}

/* Menu Toggle Button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Design */
/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: rgba(49, 68, 84, 0.95);
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
  }

  .menu.active {
    display: flex;
  }

  .menu-item {
    padding: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }
  .contact {
    font-size: 16px; /* Smaller font size for better fitting */
    padding: 10px 15px; /* Adjusted padding for smaller screens */
    background-color: #CAEE5A; 
    text-align: center;
  }

}
